/*============================================================================
 Primeiro Andar
===============================================================================*/

/*Slider*/
section.slider {
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content {
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile {
  display: none;
}

.slide-box {
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
  padding-bottom: 28px;
  background: #1f1e1f;
}

.slide-box img {
  width: 100%;;
}

.nav-manual, .nav-auto {
  position: absolute;
  width: 100%;
  margin-top: 34%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div {
  border: 1px solid black;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
  margin-right: 10px;
}

.nav-manual .manual-btn:hover {
  background-color: lightcyan;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
  background-color: lightcyan;
}

#radio1:checked ~ .primeiro {
  margin-left: 0%;
}

#radio2:checked ~ .primeiro {
  margin-left: -25%;
}

#radio3:checked ~ .primeiro {
  margin-left: -50%;
}


@media screen and (max-width: 900px){
 
  .img-desktop{
    display: none;
  }

  .img-mobile{
    display: block;
  }

  .nav-auto, .nav-manual{
    margin-top: 60%;
  }
}

/*Video text*/
.container-sobre .container-video-text{
  display: flex;
  align-items: center;
  background-color: #1f1e1f;
  color: white;
}

.container-sobre .sobre-local {
  width: 50%;
  padding: 0 40px;
}

.container-sobre .sobre-local h2{
  font-size: 56px;
}

.container-sobre .sobre-local p {
  font-size: 20px;
  margin: 5px 0 10px;
}

.container-sobre .video {
  width: 50%;
}

.container-sobre .video iframe {
  box-shadow: 5px 5px 10px 2px rgba(255, 255, 255, 0.596)
}

@media screen and (max-width: 830px) {
  .video iframe {
    width: 100%;
  }

  .container-sobre .sobre-local {
    margin-top: 10px;
    padding: 0 20px;
    order: 1;
  }

  .container-sobre .container-video-text {
    flex-direction: column-reverse;
  }

  .container-sobre .sobre-local h2 {
    text-align: center;
    font-size: 35px;
  }

  .container-sobre .sobre-local p {
    text-align: center;
    font-size: 20px;
  }

  .container-sobre .sobre-local,
  .container-sobre .video {
    width: 100%;
  }
}