@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

html{
  width: 100vw;
  overflow-x: hidden;
}

/*Menu de Navegação*/

.container-header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f1e1f;
  padding: 50px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  cursor: pointer;
}

.nav-social {
  display: flex;
  justify-content: center;
  align-items: center;
}


.nav-facebook a:hover {
  background: #7C97C1;
  border-radius: 10px; 
}

.nav-instagram a:hover {
  background: #F285A1; 
  border-radius: 10px; 
}

.nav-whatsapp a:hover {
  background: #70D68E;
  border-radius: 10px; 
}

.container-header .lista-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-header .lista-menu li{
  padding: 12px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 200ms ease-in;
}

.container-header .lista-menu a:hover {
  background-color: black;
  border-bottom: 4px solid lightcyan;
}

/*Página Inicial*/
.container {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(29,29,29,0.8),rgba(29,29,29,0.8)),url(../img/backgroud.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .conteudo-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  padding: 10px;
  max-width: 1080px;
  margin: 0 auto;
}

.container h1 {
  color: white;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.container p {
  color: white;
  font-size: 16px;
}

/*Rede Sociais*/
.contato {
  background-color: #1f1e1f;
  width: 100%;
  padding: 20px 10px 20px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contato h3 {
  font-size: 32px;
}

.contato .redeSociais {
  font-size: 18px;
  padding: 10px;
}

.contato .redeSociais 
.item-facebook,.item-instagram, .item-whatsapp  {
  margin-bottom: 20px;
}

.contato .redeSociais .item .item-facebook.item-instagram .item-whatsapp, a {
  color: white;
  padding: 6px;
}

.item-facebook a:hover {
  background: #7C97C1;
  border-radius: 10px; 
}

.item-instagram a:hover {
  background: #F285A1; 
  border-radius: 10px; 
}

.item-whatsapp a:hover {
  background: #70D68E;
  border-radius: 10px; 
}

/*Footer*/
footer {
  height: 70px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  flex-direction: column;
}

footer span {
  display: flex;
  flex-direction: column;
}
/*============================================================================
 Final paginainicial
===============================================================================*/


/*Responsividade - Menu Bar*/

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

@media (max-width: 900px) {

  body, html {
   overflow-x: hidden;
  }

  .nav-social {
    display: none;
  }

  .lista-menu {
    position: absolute;
    top: 12vh;
    width: 50vw;
    height: 50vh;
    right: 0;
    background: #21212e;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
  }
  .lista-menu li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }
}

  .lista-menu.active {
  transform: translateX(0);
}

  footer {
    display: flex;
    flex-direction: column;
  }

  footer h4 {
    display: flex;
    flex-direction: column;
  }
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
